# Operating System Files
.DS_Store

# Build Artifacts and Output Directories
.builder/
.cache/
.astro/
.next/
.nuxt/
.nyc_output/
.rpt2_cache/
.rts2_cache_cjs/
.wrangler/
.rts2_cache_es/
.rts2_cache_umd/
.serverless/
.tanstack/
.vuepress/dist/
build/Release/
coverage/
dist/
target/
lib-cov/
out-tsc/

# Dependency and Package Manager Files
.fusebox/
.grunt/
.lock-wscript
.npm/
.pnp.*
bower_components/
jspm_packages/
node_modules/
npm/

# Log Files
*.log
*.log*
logs/

# Temporary Files
.tmp/
*.pid
*.pid.lock
*.seed
*.sw?
pids/
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
vitest.config.*.timestamp*

# Environment Variables and Configuration
.env
.env.test
!.env # Keep .env for local development, but ignore its content
.config/

# IDE and Editor Specific Files
.idea/
.tern-port
.vscode-test/
*.njsproj
*.ntvs*
*.sln
*.suo

# TypeScript and JavaScript Specific
.eslintcache
*.tsbuildinfo
typings/

# NX Specific
.nx/

*.node
.cursor/rules/nx-rules.mdc
.github/instructions/nx.instructions.md

packages/ribbon/*.node

tmp/

index.js
